n8n/workflows/scheduled_topic_dual.json
{
  "name": "Schedule Topic → Dual Render",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"schedule-topic-dual","responseMode":"responseNode"},"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[140,220]},
    {"parameters":{"functionCode":"const b=$json||{}; const title=(b.topic&& (b.topic.yt_title||b.topic.title))||'topic'; const trackingId=(Date.now().toString(36)+Math.random().toString(36).slice(2,8)); const at=b.scheduleISO||''; return [{ json: { ok:true, trackingId, workflow:'schedule-topic-dual', scheduledAt: at, received:{ title } } }];"},"id":"ACK","name":"Build ACK","type":"n8n-nodes-base.function","typeVersion":2,"position":[200,100]},
    {"parameters":{"responseCode":202},"id":"Respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[420,100]},
    {"parameters":{"functionCode":"// Expect { topic: {...}, scheduleISO: 'YYYY-MM-DDTHH:mm:ssZ' }\nconst b=$json||{};\nif (!b.topic) throw new Error('Missing topic');\nif (!Array.isArray(b.topic.yt_tags)) b.topic.yt_tags = [];\nif (!Array.isArray(b.topic.keywords)) b.topic.keywords = [];\nif (!Array.isArray(b.topic.outline)) b.topic.outline = [];\nif (!b.topic.yt_title && b.topic.title) b.topic.yt_title = b.topic.title;\nconst iso = b.scheduleISO;\nif (!iso) throw new Error('Missing scheduleISO');\nconst t = Date.parse(iso);\nif (isNaN(t)) throw new Error('Invalid scheduleISO');\nconst isPast = (new Date(t)).getTime() <= Date.now();\nreturn [{ json: { topic: b.topic, scheduleISO: iso, isPast } }];"},"id":"Validate","name":"Validate + Compute","type":"n8n-nodes-base.function","typeVersion":2,"position":[360,220]},
    {"parameters":{"conditions":{"boolean":[{"value1":"={{$json.isPast}}"}]}},"id":"IfPast","name":"If Past","type":"n8n-nodes-base.if","typeVersion":2,"position":[580,220]},
    {"parameters":{"waitTill":"={{$json.scheduleISO}}"},"id":"Wait","name":"Wait Until","type":"n8n-nodes-base.wait","typeVersion":1,"position":[580,360]},
    {"parameters":{"method":"POST","url":"={{$env.WEBHOOK_URL}}/webhook/topic-select-dual","jsonParameters":true,"options":{"timeout":180000},"bodyParametersJson":"={{$json.topic}}"},"id":"TriggerDual","name":"Trigger Dual Render","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[820,280]}
  ],
  "connections": {
    "Webhook": {"main":[[{"node":"Validate + Compute","type":"main","index":0},{"node":"Build ACK","type":"main","index":0}]]},
    "Build ACK": {"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},
    "Validate + Compute": {"main":[[{"node":"If Past","type":"main","index":0}]]},
    "If Past": {"main":[[{"node":"Trigger Dual Render","type":"main","index":0}],[{"node":"Wait Until","type":"main","index":0}]]},
    "Wait Until": {"main":[[{"node":"Trigger Dual Render","type":"main","index":0}]]}
  }
}
