n8n/workflows/topics_ideation_gcloud.json
{
  "name": "Topics Ideation (OpenAI + optional News/Trends)",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"topics-ideation","responseMode":"lastNode","options":{"responseData":"json"}},"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[200,200]},
    {"parameters":{"functionCode":"const b=$json||{};return [{json:{brand:b.brand||$env.MSS_BRAND||'Many Sources Say',seed:b.seed||'',limit:Number(b.limit||5)}}];"},"id":"Normalize","name":"Normalize","type":"n8n-nodes-base.function","typeVersion":2,"position":[420,200]},
    {"parameters":{"operation":"chat","options":{"responseFormat":"jsonObject","systemMessage":"You are a senior research editor and SEO strategist. Identify trending, factual video topics for today. Return JSON only.","temperature":0.7},"messages":{"message":[{"text":"Produce an array 'topics' of {{ $json.limit }} items. Each: title, angle, keywords (6-10), yt_title (<=65 chars), yt_description (2-3 sentences), yt_tags (10-20), outline (5-7 bullets). Brand: {{$json.brand}}. Optional seed: {{$json.seed}}","type":"user"}]}},"id":"OpenAI","name":"OpenAI Topics","type":"n8n-nodes-base.openAi","typeVersion":4,"position":[640,200],"credentials":{"openAiApi":{"id":"openai_credential_placeholder","name":"OpenAI"}}},
    {"parameters":{"functionCode":"// Optional enrichment hooks (News API / Trends via RapidAPI) based on env keys\nconst topics = ($json.topics||$json.items||[]).slice(0,5);\nreturn topics.map(t=>({json:{...t}}));"},"id":"Explode","name":"Explode Topics","type":"n8n-nodes-base.function","typeVersion":2,"position":[860,200]},
    {"parameters":{"method":"GET","url":"=https://newsapi.org/v2/everything","options":{"qs":{"q":"={{$json.title}}","apiKey":"={{$env.NEWS_API_KEY}}","pageSize":1}}},"id":"News","name":"News Count (optional)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1080,120]},
    {"parameters":{"functionCode":"const t=$items('Explode Topics')[itemIndex].json; const count=$json.totalResults||0; t.newsResults=count; return [{json:t}];"},"id":"MergeNews","name":"Merge News","type":"n8n-nodes-base.function","typeVersion":2,"position":[1300,120]},
    {"parameters":{"mode":"append","output":"input1"},"id":"Join","name":"Join Topics","type":"n8n-nodes-base.merge","typeVersion":2,"position":[1520,200]},
    {"parameters":{"functionCode":"return [{json:{topics: items.map(i=>i.json)}}];"},"id":"Pack","name":"Pack","type":"n8n-nodes-base.function","typeVersion":2,"position":[1740,200]}
  ],
  "connections": {
    "Webhook": {"main":[[{"node":"Normalize","type":"main","index":0}]]},
    "Normalize": {"main":[[{"node":"OpenAI Topics","type":"main","index":0}]]},
    "OpenAI Topics": {"main":[[{"node":"Explode Topics","type":"main","index":0}]]},
    "Explode Topics": {"main":[[{"node":"News Count (optional)","type":"main","index":0},{"node":"Join Topics","type":"main","index":1}]]},
    "News Count (optional)": {"main":[[{"node":"Merge News","type":"main","index":0}]]},
    "Merge News": {"main":[[{"node":"Join Topics","type":"main","index":0}]]},
    "Join Topics": {"main":[[{"node":"Pack","type":"main","index":0}]]}
  }
}

